@import '../Variables/variables.scss'; 
@import '../Mixins/mixins.scss'; 

.my-works-main {
    width: 70%; 
    height: 22rem; 
    @include centerWithMargin();
    position: relative;
    margin-top: 3rem; 
    margin-bottom: 6rem; 
    left: 2rem;

    .my-works-title {
        @include titleStyle(); 
        width: 100%; 
        text-align: center;
        position: relative;
        left: -0.28rem; 

        @include transitionHeader(); 

    }

}