@import '../Variables/variables.scss';

@mixin FlexDisplay($dirn: row, $just-cont: center, $alg-itm: center, $wrp: nowrap) {
    display: flex; 
    flex-direction: $dirn; 
    justify-content: $just-cont;
    align-items: $alg-itm; 
    flex-wrap: $wrp; 
}

@mixin BlockDisplay($txt-aln, $width: 100%) {
    display: block; 
    text-align: $txt-aln; 
    width: $width; 
}

@mixin centerWithMargin() {
    margin-right: auto; 
    margin-left: auto; 
}

@mixin titleStyle() {
    font-size: 2.12rem; 
    color: $my-chart-title-clr;
    margin-bottom: 1rem; 
}

@mixin forBreakPoint ($breakpoints) {

}

@mixin headerBtnHover($clr: transparent, $bg-clr: transparent) {    
    &::before {
        content: ""; 
        position: absolute; 
        width: 100%; 
        height: 2px; 
        border: $normal-bdr-rdr; 
        bottom: 0; 
        left: 0; 
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .2s ease-in-out;
        background-color: $bg-clr;
        color: darken($clr, 10); 
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
        background-color: $bg-clr;
    }

}

@mixin carouselBtnHover() {
    &::before {
        content: attr(data-value); 
        position: absolute; 
        width: 100%; 
        height: 100%; 
        background-color: #333;
        left: 0; 
        bottom: 0; 
        text-align: center;
        align-items: center;
        line-height: 200%;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .3s ease-in-out;
        border-radius: inherit;
    }

    &:hover::before {   
        transform: scale(1);
        color: #aaa; 
    }
}

@mixin btnHover($bg-clr: transparent, $clr: transparent) {
    &:hover {
        
        cursor: pointer; 

        @if ($bg-clr) {
            background-color: lighten($color: $bg-clr, $amount: 4%);
        }
        color: darken($color: $clr, $amount: 28%); 
    }
}

@mixin transitionHeader() {
    transform: translate(56%); 
    opacity: 0; 
    transition: 1.4s ease-in-out; 
}

@mixin transitionBody() {
    transform: translateX(56%); 
    opacity: 0; 
    transition: 1.6s ease-in-out;
    transition-delay: 0.6s;
}