@import '../../Variables/variables.scss'; 

.super-snackbar { 
    display: inline;
    position: fixed;
    bottom: 0.8rem;
    left: 0.8rem;
    z-index: 10;

    .inner-snackbar {
        display: flex; 
        padding: 0rem 0.8rem;
        align-items: center;
        position: relative;
        gap: 0.6rem; 
        border-radius: $larger-bdr-rdr;
        opacity: 0;
        animation-name: appear;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: 1;  
        animation-fill-mode: forwards;
    
        @keyframes appear {
            0% {
                opacity: 0;
            } 10% {
                opacity: 1;
            } 20% {
                opacity: 1;
            } 30% {
                opacity: 1;
            } 40% {
                opacity: 1;
            } 50% {
                opacity: 1;
            } 60% {
                opacity: 1;
            } 80% {
                opacity: 1;
            } 90% {
                opacity: 1;
            } 100% {
                opacity: 0;
            }
        }    
        
        #logo {
            color: white;
            font-size: 1.6rem;
        }

        #text {
            font-size: 0.92rem;
            letter-spacing: 1px;
            color: #fff; 
            font-weight: 100; 
            font-family: Arial, Helvetica, sans-serif;
        }
        
    }
    
}

.inactive {
    display: none; 
}